* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: blueviolet; */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000; 
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.header__syg {
  width: 26px;
  box-sizing: content-box;
  padding-right: 5px;
}

.header__nav{
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.header__link {
  font-size: 20px;
  font-weight: 600;
}

/* Main */
/* 
.content {
  margin-top: 120px;
} */

/* Landing Page */

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(252, 242, 232);
  margin: 130px 10% 70px;
}

.landing_text{
  width: 48%;
  font-size: 5vw;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -2px;
  word-spacing: -1px;
  line-height: 6vw;
  text-align: right;
  padding-right: 0.2vw;
}

.landing__attention{
  font-weight: 900;
  font-style: normal;
}

.landing__attention:last-child {
  background-image: linear-gradient(to left top, #bb88eb, #c185e5, #c681de, #cb7ed8, #cf7bd1, #e07ac3, #ed7bb5, #f57ea7, #fe8c92, #fc9f84, #f4b27f, #e7c586);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0;
}

.landing__img{
  width: 48%;
}

/* Examples */

.example{
  background-color: plum;
}

/* Pricing */

.social {
  background-color: greenyellow;
}